[Desktop Entry]
Name=Arcolinux Application Installer
GenericName=Arcolinux Application Installer
X-GNOME-FullName=Arcolinux Application Installer
Comment=Install/Remove ArcoLinux packages with ease
Exec=/usr/local/bin/arcolinux-application-installer
Icon=arcolinux-application-installer
Terminal=false
Type=Application
Categories=GTK;GNOME;Utility;Settings;Security;X-GNOME-Settings-Panel;X-GNOME-SystemSettings;X-Unity-Settings-Panel;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
Keywords=application;installer;
StartupNotify=true
