frame#awesome * {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 10px;
    border-color: transparent;
}

box#vbox {
    padding-right: 20px;
}

#sidebar label {
    font-size: 14px;
    font-weight: 500;
    padding-left: 15px;
    padding-right: 15px;
}

label#title {
    font-size: 20px;
    font-weight: 600;
}

label#lbl_pkg_version {
	color: white;
	background-color: #3584e4;
	border: 3px solid #3584e4;
	border-radius: 100px;
	font-size: 80%;
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
}

infobar#infobar_info {
  background-color: #3584e4;
  color: white;
}

infobar#infobar_error {
  background-color: #9d261d;
  color: white;
}

infobar#infobar_warning{
  background-color:#ffcc00;
  color:black;
}
